@model AdaptItAcademy.DataAccess.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <input asp-for="CourseID" class="form-control" />
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="3" asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingVenue" class="control-label"></label>
                <input asp-for="TrainingVenue" class="form-control" />
                <span asp-validation-for="TrainingVenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsLeft" class="control-label"></label>
                <input asp-for="SeatsLeft" class="form-control" />
                <span asp-validation-for="SeatsLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDateOfRegistration" class="control-label"></label>
                <input asp-for="LastDateOfRegistration" class="form-control" />
                <span asp-validation-for="LastDateOfRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>