@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4 py-4">
    <h1 class="display-4">Welcome to the Adapt IT Academy</h1>
    <img class="m-5" style="height:400px;" src="~/AdaptIt.svg" />
</div>
